
.head{
    background-color: rgba(212, 193, 108, 0.87);
    padding: 10px;
    padding-left: 100px;
    /* margin: 10px; */
}

h1{
    color: whitesmoke;
    font-weight: 900;
    font-size: xx-large;
    font-family:'Times New Roman', Times, serif;
    font-style:oblique;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

.head Button{
    background-color: rgb(82, 66, 25);
    color: whitesmoke;
    text-shadow: 2px 2px 5px rgba(253, 252, 252, 0.938);
    
}

.container{
    background-color: rgba(212, 193, 108, 0.178) ;
}

.btnG1 Button{
    background-color: rgb(133, 119, 60);
    color: whitesmoke;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    white-space: 10px;
    margin-right: 40px;
}

.btnUpdate{
    background-color: rgb(133, 119, 60);
    color: whitesmoke;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    white-space: 10px;
    margin-right: 40px;
    align-self: flex-start;
}

.formPrdct {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}

.formPrdct .MuiTextField-root {
    margin-bottom: 10px; 
}
